/* See "macplus.css" for documentation */

.background {
	background-image:		url(/components/skins/atari1040st.jpg);
	width:					1543px;
	height:					1049px;
}

.flush-right .background {
	margin-right:			-530px;
}

.screen {
	left:					445px;
	top:					175px;
	width:					440px;
	height:					320px;
}

.sidebar {
	margin-right:			1200px;
}

.flush-right .sidebar {
	margin-right:			700px;
}