/* See "macplus.css" for documentation */

.background {
	background-image:			url(/components/skins/commodore64c.jpg);
	width:						1127px;
	height:						840px;
}

.flush-right .background {
	margin-right:				-200px;
}

.screen-position-and-size {
	left:						445px;
	top:						103px;
	width:						390px;
	height:						305px;
	border-radius:				7px;
}

.sidebar {
	margin-right:				780px;
}

.flush-right .sidebar {
	margin-right:				580px;
}