/* See "macplus.css" for documentation */

.background {
	background-image:	url(/components/skins/ibm5160.jpg);
	width:				1243px;
	height:				1245px;
}

.flush-right .background {
	margin-right:		-200px;
}

.screen-position-and-size {
	left:				340px;
	top:				170px;
	width:				480px;
	height:				300px;
}

.sidebar {
	margin-right:		1000px;
}

.flush-right .sidebar {
	margin-right:		825px;
}