/* See "macplus.css" for documentation */

.background {
	background-image:		url(/components/skins/rc759.jpg);
	width:					1800px;
	height:					930px;
}

.background-max-width {
	max-width:				1550px;
}

.flush-right .background {
	margin-right:			-290px;
}

.screen {
	left:					710px;
	top:					180px;
	width:					560px;
	height:					412px;
}

.sidebar {
	margin-right:			1245px;
}

.flush-right .sidebar {
	margin-right:			955px;
}