/* See "macplus.css" for documentation */

.background {
	background-image:		url(/components/skins/trs80-model1.jpg);
	width:					1302px;
	height:					1056px;
}

.flush-right .background {
	margin-right:			-43px;
}

.screen-position-and-size {
	left:					584px;
	top:					127px;
	width:					384px;
	height:					288px;
}

.sidebar {
	margin-right:			852px;
}

.flush-right .sidebar {
	margin-right:			809px;
}