/* See "macplus.css" for documentation */

.background {
	background-image:	url(/components/skins/xerox-star.jpg);
	width:				1019px;
	height:				985px;
}

.flush-right .background {
	margin-right:		-250px;
}

.screen-position-and-size {
	left:				220px;
	top:				105px;
	width:				455px;
	height:				350px;
}

.sidebar {
	margin-right:		950px;
}

.flush-right .sidebar {
	margin-right:		650px;
}